:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1,
h2 {
  text-align: center;
}

.period-number {
  text-align: center;
  font-size: 2rem;
}

.update-period {
  display: block;
  margin: 0 auto;
}

.score-area {
  display: flex;
  justify-content: space-around;
}

.score-area p {
  font-size: 3rem;
}

.update-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.update-score .team-name {
  display: flex;
  flex-direction: row;
}

.update-score section {
  margin: 1rem;
}

.reset-button {
  display: block;
  margin: 0 auto;
}

.winner-display {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}
